@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

body{
    font-family: 'Fredoka';
    color: #000;
    background: #17001f;
    display: flex;
    justify-content: center;
}

h1{
    font-weight: 400;
}

h2{
    font-weight: 400;
}

h1,h2{
    text-transform: uppercase;
}

#app{
    margin-top: 50px;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    background-color: rgb(235, 235, 235);
}
#app-header{
    color: rgb(255, 255, 255);
    padding: 12px;
    background: #290355c7;
    }
#new-task{
    padding: 12px;
}
input{
    padding: 8px;
    border-radius: 3px;
}

form button{
    border-radius: 3px;
    background-color: #290355c7;
    border: 0;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    font-family: 'Fredoka';
    cursor:pointer;    
}
form button:hover{
    background-color: rgba(41, 3, 85, 0.7);
}

#app-main{
    padding: 12px;
}

li button:nth-child(2){
    margin-left: 5px;
    padding: 0px 5px;
    font-family: 'Fredoka';
    font-weight: 200;
    color: #fff;
    border-radius: 3px;
    border: 0;
    background-color: red;
    cursor:pointer;
}
li button:nth-child(3){
    margin-left: 5px;
    padding: 0px 5px;
    font-family: 'Fredoka';
    font-weight: 200;
    color: #fff;
    border-radius: 3px;
    border: 0;
    background-color: #16d650;
    cursor:pointer;
}

li button:hover:nth-child(2){
    background: rgba(255, 0, 0, 0.7);
}

li button:hover:nth-child(3){
    background: rgba(22, 214, 80, 0.7);
}
